@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@700&display=swap");

body {
  background-color: rgba(0, 14, 16, 1); /* bg */
  font-family: "Poppins", sans-serif;
  color: rgba(239, 232, 210, 1);
}

/* Example usage for classes */
.hero-heading {
  font-size: 7rem; /* heroheadingpoppins7rem */
  font-weight: 700; /* heroheadingpoppins7rem */
}

.subheading {
  font-size: 2.5rem; /* subheadingpoppins2_5rem */
  font-weight: 700; /* subheadingpoppins2_5rem */
}

.paragraph {
  font-size: 2rem; /* paragraphspoppins2rem */
  font-weight: 700; /* paragraphspoppins2rem */
}

/* Remove redundant font-family definitions since it's applied globally */
